@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
	box-sizing: border-box;
	
}

	
body {
	
	background-color: ##e3edf7;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lato'; sans-serif;
	background-image: url("sunv4.jpg");
	color: white;

}

.upload {
	
	position: relative;
	padding-left: 30px;
	/*text-align: center;*/
}

button {
	
	display: inline;
	padding: 10px 30px;
	cursor: pointer;
	background: #2565AE;
	color: white;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	
	
}
#img
{
	height: 100vh;
}

@media(max-width: 435px) {
	body {
			background-image: url("sunv7.jpg");

	}
}

@media(max-width: 600px) {
	body {
			background-image: url("sunv7.jpg");

	}
}


.box{
	position: relative;
	width: 20px;
	height: 20px;
	/*margin: 4px;*/
	display: inline-block;
	/*border-radius: 50%;*/
	
}
.red{background-color: #2565AE}
.blue{background-color: #2565AE}
.green{background-color: #2565AE}
.yellow{background-color: #2565AE}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.boxes__inner {
  display: flex;
  overflow: hidden;
  height: 70px;
}


.letter {
  display: inline-block;
  opacity: 0;
}

div {
  display: inline-block;
}

h1 {
	
	height: 100px;
	inline-size: 190px;
	
	
}